# Python virtual environments
.venv/
.env
**/__pycache__/
*.py[cod]
*$py.class

# Dataset files
2025_dataset/train/images_train/
2025_dataset/validation/images_validation/
2025_dataset/test/images_test/
2025_dataset/*.zip
2025_dataset/train/final_df.csv
2025_dataset/train/final_df_2.csv
2025_dataset/valid/images_valid/

# Processed data
processed_data/
outputs/

# Model caches
.hf_cache/

# Jupyter
.ipynb_checkpoints/

# Additional
archives/

nltk_data/

knowledge_db/
