.venv/
.env
2024_dataset/images/
2024_dataset/train_df_cleaned.csv
2024_dataset/train_df_with_combined_features.csv
2024_dataset/train_df_with_embeddings.pkl
2024_dataset/train_df_with_image_stats.pkl
2024_dataset/train_df_with_metadata.pkl
2024_dataset/train_df_final.pkl
archives/
results/
2025_dataset/train/images_train
2025_dataset/valid/images_valid
2025_dataset/test/images_test
# 2025_dataset/train/final_df.csv